@import "tailwindcss";

:root {
  --background: linear-gradient(180deg, rgba(11, 16, 38, 1) 50%, rgba(41, 59, 140, 1) 100%);
  --foreground: #ffffff;
  background: var(--background);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-poppins);
}


body {
  background: var(--background);
  color: var(--foreground);
  background: var(--background);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Poppins";
}


